body {
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 16px;
    background: lightgray;
  }
  
  header {
    background: #119400;
    color: white;
    padding: 20px;
  }

  form { 
    max-width: 500px; 
    border: 3px double black; 
    margin: auto; 
  }
  
  .listing {
    border: 3px double black;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  img {
    width: 100%;
    max-width: 300px;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 20px; /* bigger for tapping */
    font-size: 16px;
    background: #119400;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  label { 
    border: 1px solid #ccc;
    padding: 15px; /* more space */
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-start;
  }

  input, textarea, select {
       width: 100%;
       padding: 12px; /* larger padding for touch screens */
       font-size: 16px;
       margin-top: 5px;
       margin-bottom: 15px;
       box-sizing: border-box;
       border: 1px solid #ccc;
       border-radius: 4px;
  }



  .btn:hover {
       background: #0056b3; 
      }

  .preview { 
      display: flex; 
      margin-top: 10px; 
      gap: 5px; 
      flex-wrap: wrap; 
    }

  .preview img { 
      width: 100px; 
      height: 80px; 
      object-fit: cover; 
      border: 1px solid #ccc; 
      border-radius: 3px; 
    }
    
  .listing img { 
    width: 150px; 
    height: 100px; 
    margin-right: 5px; 
  }

  .photos { 
    display: flex; 
  }


  
  /* Mobile view */
@media (max-width: 768px) {
  .listing {
    flex-direction: column; /* Stack images on top of text */
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  
  .listing .photos {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .listing .photos img {
    width: 100px;
    height: 80px;
    margin: 5px;
  }
  
  
  .search-box input {
    width: 70%;
    padding: 8px;
  }

  .btn {
    padding: 12px 20px;
    font-size: 16px;
  }
  
  .search-box button {
    padding: 12px 20px;
    font-size: 16px;
  }
  }